* {
  // border: 1px solid red;
}

body {
  background-color: $lightgray;
  font-family: sans-serif;
}

body, h1, p {
  margin: 0;
  padding: 0;
  color: #333;
}

.container {
  display: grid;
  height: 100vh;
  background-color: #f0f0f0;
  justify-items: center;
  align-items: center;
}

.card {
  background-color: #fff;
  display: flex;
  user-select: none;
  -moz-user-select: none;
  padding: 0.5em 1em;
  border-radius: 3px;
  box-shadow: 0em 1em 2em -1em rgba(0,0,0,.2);
  cursor: pointer;
  transition: transform 100ms ease-in-out,
              box-shadow 100ms ease-in-out;
}

.card:hover {
  transform: scale(1.02);
  box-shadow: 0em 1em 2em 0em rgba(0,0,0,.1);
}

.card:active {
  transform: scale(0.98);
  box-shadow: 0em 0.6em 1em -1em rgba(0,0,0,.05);
}

.content {
  display: flex;
  padding: 0.5em 1em;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#profile-pic {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  padding: 0.5em 1em;
}
